@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    box-sizing: border-box;
}

body{
    background-color: #2f2841;
}

a, h1, p{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

h1{
    color: white;
}
p{
    color: #05e981;
}

.conteudo{
    padding-top: 10vh;
}

.informacoes{
    text-align: start;
    margin-top: 1%;
}
.informacoes h4{
    color: white;
}

.ReciclaStyle{
    background-color: rgba(0, 0, 0, 0)!important;
    color: #05e981!important;
}
button{
    font-family: poppins;
}
div{
    font-family: poppins;
}

