@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
}

.header_mobile{
    display: none;
}

body{
    margin-top: 0.3vh;
    background-color: #201b2c;
}

a, h1, p{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

h1{
    color: white;
}
p{
    color: #05e981;
}

header{
    display: flex;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
    border-bottom: 1px solid #05e981;
}

.logo{
    height: 5vh;
}
.logo img{
    height: 100%;
}

header button{
    width: 7vw;
    height: 4vh;
    margin-left: 5px;
    background-color: #05e981;
    border: none;
}

.links{
    display: flex;
    gap: 10px;
}

.links a{
    text-align: center;
    text-justify: center;
    color: #05e981;
}
.links button a{
    color: black;
}
.conteudo{
    display: grid;
    margin: 10%;
    justify-content: center;
    column-gap: 10%;
    grid-template-columns: repeat(auto-fit, minmax(80vw,1fr));
    grid-template-rows: auto;
    /*background-color: aquamarine;*/
}
footer{
    background-color: black;
    text-align: center;
}
.footerGrid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: auto;
}
.footerIcon{
    align-items: center;
    justify-content: center;
    text-align: center;
}
#footerImg{
    width: 250px;
}
.informacoes{
    text-align: start;
    margin-top: 1%;
}
.informacoes h4{
    color: white;
}
