@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background-color: #201b2c;
}

a{
    font-family: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
}

span{
    color: #05e981;
}

p{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: min(50px, 8vw);
    margin-bottom: 20px;
}

.botoes{
    margin: 0!important;
}

.botoes button{
    border: none;
    background-color: #514869;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-size: 20px;
    width: 200px;
    height: 60px;
    margin-bottom: 25px;
}

.teste{
    min-height: 46vh;
}