a{
    text-decoration: none;
}
.header_mobile{
    display: none;
}

header{
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #05e981;
}

.logo img{
    position: absolute;
    top: -10px;
    left: 0;
}

header button{
    position: absolute;
    right: 30px;
    width: 115px;
    height: 42px;
    background-color: #05e981;
    border: none;
}

header > a{
    position: absolute;
    right: -10px;
    top: 5px;
}

.links{
    position: absolute;
    right: 180px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    /*background-color: aqua;*/
}

.links a{
    color: #05e981;
}