/* TODO:  colocar num único arquivo*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background-color: #2f2841;
}

.card span{
    font-size: 100px;
}

a,p{
    font-family: 'Poppins', sans-serif;
}

span{
    color: #05e981;
}

/* .btn{
    font-family: 'Poppins', sans-serif;
}

.btn:hover {
    background-color: #05e981;
    color: black;
} */

.cards{
    background-color: #2f2841;
}

.temaGreen{
    color: #05e981;
}
#navCards div{
    background-color:#201b2c;
}
.card-conteudo{
    background-color:#201b2c;
}

.card-title{
    color: #05e981!important;
    font-size: min(60px, 15vw);
}

p{
    color: #FFFFFF;
}
#rodape{
    background-color:#201b2c;
}
a{
    text-decoration: none;
}
p.card-text{
    font-size: 18px;
}
@media (max-width: 800px){
    #navCards{
        flex-direction: column;
    }
    footer div{
        flex-direction: column;
    }
}