
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #2f2841;
}

a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.verde{
    font-family: 'Poppins', sans-serif;
    color: #05e981;
}

.azul{
    font-family: 'Poppins', sans-serif;
    color: #2c94ff;
}

.vermelho{
    font-family: 'Poppins', sans-serif;
    color: #fa0000;
}

.preto{
    font-family: 'Poppins', sans-serif;
    color: #000000;
}
.invalid-password,.invalid-email{
    display: none;
}
#form1{
    background-color:#201b2c;
}