@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
}
a,p,h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}


p{
    font-size: min(14px,20vw);
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max(300px, 50vw);
    padding-top: 2vh;
    text-align: center;
    padding-bottom: 8vh;
}
.conteudo h1,.conteudo p{
    color: white;
}

.conteudo p{
    text-align: justify;
    font-size: 20px;
}
.conteudo h1{
    font-size: 30px;
}